<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bootcamp.receipt.receiptviewer" >

    <uses-sdk
        android:maxSdkVersion="21"
        android:minSdkVersion="15"
        android:targetSdkVersion="19" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/receipt"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.bootcamp.receipt.receiptviewer.MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.bootcamp.receipt.receiptviewer.ReceiptListActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.bootcamp.receipt.receiptviewer.ReceiptDetailActivity"
            android:label="@string/title_receipt_detail"
            android:parentActivityName="com.bootcamp.receipt.receiptviewer.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ReceiptListActivity" />
        </activity>
        <activity
            android:name="com.bootcamp.receipt.receiptviewer.CameraActivity" >
            <!--android:label="@string/title_activity_camera" > -->
        </activity>
    </application>

</manifest>
